<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
<!-- Slider Start -->
<section id="" class="video-background">
        <div class="video-foreground hidden-sm hidden-xs">
          <iframe frameborder="0" height="100%" width="100%" 
            src="https://youtube.com/embed/6xVmKvT_qBk?autoplay=1&controls=0&showinfo=0&autohide=1&rel=0">
          </iframe>
      </div>
</section>
<!-- Wrapper Start -->
<section id="retreats">
    <iframe frameborder="0" height="100%" width="100%" class="hidden-md hidden-lg"
    src="https://youtube.com/embed/6xVmKvT_qBk?autoplay=0&controls=0&showinfo=0&autohide=1&rel=0">
  </iframe>
  <div class="container">
    <div class="row center-text">
      <h2>Find a Retreat Near You</h2>
    </div>
    <div class="row">
        {% assign sorted = (site.posts | sort: 'title') %}
        {% for post in sorted %}
      <div class="col-md-4 col-xs-6">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="post-area2 center-text">
            <h3>{{ post.title }}</h3>
            <p class="post-date">{{ post.retreat_date | date: '%B %d, %Y' }}</p>
            <p>{{ post.retreat_location }}</p>
            <p>
                Get More Info
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Hear what other student-athletes have said about the retreat!</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonial-carousel">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div>
                            <p>"God really spoke to me and made me realize that I was going down every wrong path I could possibly go down and it is great that I can now turn my life back around."</p>
                            <div class="user">
                              <p>Ball State</p>
                            </div>
                        </div>
                        <div>
                            <p>"Taught me to choose to listen to the Holy Spirit everyday."</p>
                            <div class="user">
                              <p>Illinois State</p>
                            </div>
                        </div>
                        <div>
                            <p>"Showed me what's truly important in my life and how my value system was greatly flawed."</p>
                            <div class="user">
                              <p>Robert Morris</p>
                            </div>
                        </div>
                        <div>
                            <p>"Allowed me to expierence an environment where my faith could be freely expressed and shared. A place where I made strong Christian connection and could live life as it should be."</p>
                            <div class="user">
                              <p>Wisconsin</p>
                            </div>
                        </div>
                      </div>  
                  </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    {% include footer.html %}
    
</body>
</html>
