<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
<!-- Slider Start -->
<section id="slider" class="tv screen">
    <div id="video-background">
        <div class="video-foreground">
        </div>
      </div>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="block">
            <!--<h1 class="animated fadeInUp center-text bold">{{ site.title }} </h1>-->
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="retreats">
  <div class="container">
    <div class="row center-text">
      <h2>Find a Retreat Near You</h2>
    </div>
    <div class="row">
        {% assign sorted = (site.posts | sort: 'title') %}
        {% for post in sorted %}
      <div class="col-md-4">
        <div class="post-area2-div"></div>
        <div class="post-area2 center-text">
          <h4><a href="{{ post.url | prepend: site.baseurl }}" class="bold pTitle">{{ post.title }}</a></h4>
          <p class="post-date">{{ post.retreat_date | date: '%B %d, %Y' }}</p>
          <p>{{ post.retreat_location }}</p>
          <p>
              <a class="btn btn-default btn-call-to-action" href="{{ post.url | prepend: site.baseurl }}">Get More Info </a>
          </p>
        </div>
        <div class="post-area2-div-bottom">
          <div class="bottom-flag" ></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Hear what other student-athletes have said about the retreat!</h2>
          <div class="row">
            <div class="col-md-12">
                <div class="testimonial-carousel">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div>
                            <p>"God really spoke to me and made me realize that I was going down every wrong path I could possibly go down and it is great that I can now turn my life back around."</p>
                            <div class="user">
                              <p>Ball State</p>
                            </div>
                        </div>
                        <div>
                            <p>"Taught me to choose to listen to the Holy Spirit everyday."</p>
                            <div class="user">
                              <p>Illinois State</p>
                            </div>
                        </div>
                        <div>
                            <p>"Showed me what's truly important in my life and how my value system was greatly flawed."</p>
                            <div class="user">
                              <p>Robert Morris</p>
                            </div>
                        </div>
                        <div>
                            <p>"Allowed me to expierence an environment where my faith could be freely expressed and shared. A place where I made strong Christian connection and could live life as it should be."</p>
                            <div class="user">
                              <p>Wisconsin</p>
                            </div>
                        </div>
                      </div>  
                  </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    {% include footer.html %}
</body>
<script type="text/javascript">
  var tag = document.createElement('script');
		tag.src = 'https://www.youtube.com/player_api';
    var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var tv,
        playerDefaults = {autoplay: 0, autohide: 1, modestbranding: 0, rel: 0, showinfo: 0, controls: 0, disablekb: 1, enablejsapi: 0, iv_load_policy: 3};
    var vid = [
          {'videoId': '6xVmKvT_qBk', 'startSeconds': 0, 'endSeconds': 142, 'suggestedQuality': 'hd720'}
        ],
		randomVid = Math.floor(Math.random() * vid.length),
    currVid = randomVid;

function onYouTubePlayerAPIReady(){
  tv = new YT.Player('video-background', {events: {'onReady': onPlayerReady, 'onStateChange': onPlayerStateChange}, playerVars: playerDefaults});
}

function onPlayerReady(){
  tv.loadVideoById(vid[currVid]);
  tv.mute();
}

function onPlayerStateChange(e) {
  if (e.data === 1){
    $('#video-background').addClass('active');
  } else if (e.data === 2){
    $('#video-background').removeClass('active');
    if(currVid === vid.length - 1){
      currVid = 0;
    } else {
      currVid++;  
    }
    tv.loadVideoById(vid[currVid]);
    tv.seekTo(vid[currVid].startSeconds);
  }
}

function vidRescale(){

  var w = $(window).width()+200,
    h = $(window).height()+200;
  console.log(w);
  console.log(h);
  console.log(tv);
  if (w/h > 16/9){
    tv.setSize(w, w/16*9);
    $('.tv .screen').css({'left': '0px'});
  } else {
    tv.setSize(h/9*16, h);
    $('.tv .screen').css({'left': -($('.tv .screen').outerWidth()-w)/2});
  }
}

$(window).on('load resize', function(){
  vidRescale();
});


</script>
</html>
